<div class="body-div">
  <div class="title-div">
    <h2 class="title">Fin del juego!</h2>
  </div>
  <div>
    <%= @answer.value_to_s %>
  </div>
  <div>
    <%= @answer.reason %>
  </div>
  <div>
    <%= "Puntaje: #{@game.score}" %>
  </div>
  <div class="back-main">
    <button class="back-main-button"> %= link_to 'Volver al menu principal', '/'% </button>
  </div>
</div>





