<div>
  <%= @answer.value %>
</div>
<div>
  <%= @answer.reason %>
</div>

<h1> Fin del juego! </h1>

<div>
  <%= "Puntaje: #{@game.score}" %>
</div>

<div>
  <%= link_to 'Volver al menu principal', '/'%>
</div>