<div class="body-div">
  <div class="title-div">
    <h2 class="title">Fin del juego!</h2>
  </div>
  <div>
    <%= @answer.value_to_s %>
  </div>
  <div>
    <%= @answer.reason %>
  </div>
  <div>
    <%= "Puntaje: #{@game.score}" %>
  </div>
  <div class="back-main">
    <%= link_to 'Volver al menu principal', '/', class: "button back-main-button"%>
  </div>
</div>





