<div class="body-div">
  <div class="title-div">
    <h2 class="title-pregunta">Bienvenidos</h2>
  </div>
  <div class="buttons">
    <%= link_to 'Jugar', '/game', class: "button button-play"%> 
    <%= link_to 'Configuración', '/configuration', class: "button button-config" %>
  </div>
</div>