<div class="body-div">
    <div class="title-div">
      <h2 class="title">Bienvenidos</h2>
    </div>
    <p> a ser implementado </p>
    <div class="back-main">
      <%= link_to 'Volver al menu principal', '/', class: "button back-main-button"%>
    </div>
</div>