<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Inundación</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-nav">
      <header>
        <nav>
            <div>
              <h1 class="app-name">QUIZ INUNDACIÓN</h1>
            </div>
        </nav>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
